/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */
body{
    font-family: 'Open Sans', sans-serif;
}
.fa-solid.fa-arrow-down-long{
    font-size: 32px;
}

/* COMMON */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: black;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px ; 
    text-decoration: none;
}
.btn-blue{
    background-color: #1a58fa;
    color: white;
    border: transparent;
}

/* HEADER */
header{
    position: fixed;
    background-color: white;
    z-index: 10;
}
/* Omologare i padding in un secondo momento */
header.container{
    width: 100%;
    padding: 20px;
}
.col-header{
    width: 50%; 
    float: left;  
}
.col-header:last-of-type{
    float: right;  
    text-align: right;
    
}
.col-header ul, .col-header ul li,.col-header ul li a ,.logo-small{
    display: inline-block;
    vertical-align: middle;
    /* allineamento verticale header */
    text-decoration: none;
    color: black;
}
.col-header ul li{
    padding: 0 10px;
}
.logo-small{
    padding-right: 10px;
}

/* HERO */
.hero{
    background-color: #b1cee5;
    height: 840px;
    position: relative;
}
.hero.container{
    width: 1330px;
    margin: auto;
    
}
.col-hero-big,.col-hero-small{
    float: left;
}
.col-hero-big{
    width: 70%;
}
.col-hero-big img{
    width: 100%;
}
.col-hero-small{
    width: 30%;
}
.float-container.clearfix{
  position: absolute;
  bottom: -80px;
}

/* PROVARE A SPOSTARE I CONTENUTI NON LE COLONNE FLOTTANTI */
.hero-header{
    padding-top: 150px;
    font-size: 50px;
}
.hero .main-p{
    margin-bottom: 35px;
    margin-top: 0;
}
.hero p{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* PRICING SECTION */

.pricing .container{
    width: 1080px;
    margin: auto;
}
.pricing {
    padding-top: 200px;
    padding-bottom: 50px;
}
/* da fare spacing dei radio */
.pricing .clearfix{
    width: 100%;
}
.col-pricing{
    width: calc(100% /3 - 80px/3);
    min-height: 1100px;
    border: 1px solid #e5e5e6;
    float: left;
}
.col-pricing.standard{
    margin: 0 40px;
}

/* STYLING HEADER COL-PRICING */
.pricing-header{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e6;
}

/* STYLING ELEMENTI BODY COLONNA- ritornarci per migliorare i padding e i margini*/
.col-pricing-top,.col-pricing-bottom {
    padding: 0 40px;

}
.col-pricing-top ul, .col-pricing-bottom ul{
    list-style-type: none;
}
.col-pricing h3,.col-pricing .price,.col-pricing .period,.col-pricing .col-pricing-bottom div,.col-pricing .col-pricing-top div{
    padding-top: 25px;
}
.col-pricing ul {
    padding: 25px 0;
}
.col-pricing ul li {
    margin: 15px 0;
}
.col-pricing hr{
    margin-top: 20px;
    margin-left: 45px;
    width: 20%;
    color:#e5e5e6;
}
 .col-pricing-bottom li i{
     color: #1a58fa;
}

/* FOOTER SEZIONE PRICING */
.pricing-footer .footer-title{
    padding: 10px;
    text-align: center;
    border: 1px solid #e5e5e6;
    margin-top: 40px;
}
.pricing-footer-main {
    border: 1px solid #e5e5e6;
    border-top: none;
    padding: 30px;
}
.pricing-footer-main .col-left{
    width: 70%;
    float: left;
}
.pricing-footer-main .col-right{
    width: 30%;
    float: left;
    text-align: center;
}
.pricing-footer-main .col-right .btn-blue{
    vertical-align: middle;
    line-height: 33px;
    padding: 5px 50px;
}
.pricing-footer-main .col-right h2{
    vertical-align: middle;
}
.pricing-footer-main .col-left p{
    padding-top: 20px ;
    font-weight: bold;
}
.pricing-footer-main .col-left small{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* PARTNER SECTION */
    
.partner.container{
    width: 1080px;
    margin: auto;
    margin-top: 100px;
}
.partner.container .col-big{
    width: 60%;
    float: left;
}
.partner.container .col-big img{
    width: 100%;

}
.partner.container .col-little{
    width: calc(40% - 40px);
    float: left;
    margin-left: 40px;
}
.partner.container .col-little h2{
   padding-top: 30px;
}
.partner.container .col-little p{
    padding-top: 20px;
 }
 .partner.container .col-little .btn{
    margin-top: 40px;
 }
