/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */
body{
    font-family: 'Open Sans', sans-serif;
}
.fa-solid.fa-arrow-down-long{
    font-size: 32px;
}
h1{
    font-size: 75px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 24px;
}

/* COMMON */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: black;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px ; 
    text-decoration: none;
}
.btn-blue{
    background-color: #1a58fa;
    color: white;
    border: transparent;
}
.container-big{
    max-width: 1300px;
    margin: auto;
}
.container-small{
    max-width: 1080px;
    margin: auto;
}

/* HEADER */
header{
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: white;
    z-index: 10;
}
/* Omologare i padding in un secondo momento */
header.container{
    width: 100%;
    padding: 20px;
}
.col-header{
    width: 50%; 
    float: left;  
}
.col-header:last-of-type{
    float: right;  
    text-align: right;
    
}
.col-header ul, .col-header ul li,.col-header ul li a ,.logo-small{
    display: inline-block;
    vertical-align: middle;
    /* allineamento verticale header */
    text-decoration: none;
    color: black;
}
.col-header ul li{
    padding: 0 10px;
}
.logo-small{
    padding-right: 10px;
}

/* HERO */
.hero{
    background-color: #b1cee5;
    height: 840px;
    position: relative;
}
.col-hero-big,.col-hero-small{
    float: left;
}
.col-hero-big{
    width: 70%;
}
.col-hero-big img{
    width: 100%;
}
.col-hero-small{
    width: 30%;
}
.float-container.clearfix{
  position: absolute;
  bottom: -80px;
}

/* PROVARE A SPOSTARE I CONTENUTI NON LE COLONNE FLOTTANTI */
.hero-header{
    padding-top: 150px;
}


.hero .main-p{
    margin-bottom: 35px;
    margin-top: 0;
}
.hero p{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* PRICING SECTION */
.pricing {
    padding-top: 200px;
    padding-bottom: 50px;
}
.pricing-title{
    padding-bottom: 50px;
}
.pricing .radio{
    padding-bottom: 40px;
}
/* da fare spacing dei radio */
.pricing .clearfix{
    width: 100%;
}
.col-pricing{
    width: calc(100% /3 - 80px/3);
    min-height: 1100px;
    border: 1px solid #e5e5e6;
    float: left;
}
.col-pricing.standard{
    margin: 0 40px;
}

/* STYLING HEADER COL-PRICING */
.pricing-header{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e6;
}

/* STYLING ELEMENTI BODY COLONNA- ritornarci per migliorare i padding e i margini*/
.col-pricing-top,.col-pricing-bottom {
    padding: 0 40px;

}
.col-pricing-top ul, .col-pricing-bottom ul{
    list-style-type: none;
}
.col-pricing h3,.col-pricing .price,.col-pricing .period,.col-pricing .col-pricing-bottom div,.col-pricing .col-pricing-top div{
    padding-top: 25px;
}
.col-pricing ul {
    padding: 25px 0;
}
.col-pricing ul li {
    margin: 15px 0;
}
.col-pricing hr{
    margin-top: 20px;
    margin-left: 45px;
    width: 20%;
    color:#e5e5e6;
}
 .col-pricing-bottom li i{
     color: #1a58fa;
}

/* FOOTER SEZIONE PRICING */
.pricing-footer .footer-title{
    padding: 10px;
    text-align: center;
    border: 1px solid #e5e5e6;
    margin-top: 40px;
}
.pricing-footer-main {
    border: 1px solid #e5e5e6;
    border-top: none;
    padding: 30px;
}
.pricing-footer-main .col-left{
    width: 70%;
    float: left;
}
.pricing-footer-main .col-right{
    width: 30%;
    float: left;
    text-align: center;
}
.pricing-footer-main .col-right .btn-blue{
    vertical-align: middle;
    line-height: 33px;
    padding: 5px 50px;
}
.pricing-footer-main .col-right h2{
    vertical-align: bottom;
}
.pricing-footer-main .col-left p{
    padding-top: 20px ;
    font-weight: bold;
}
.pricing-footer-main .col-left small{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* PARTNER SECTION */
    
.partner{
    margin-top: 100px;
}
.partner .col-big{
    width: 60%;
    float: left;
}
.partner .col-big img{
    width: 100%;

}
.partner .col-little{
    width: calc(40% - 40px);
    float: left;
    margin-left: 40px;
}
.partner .col-little h2{
   padding-top: 30px;
}
.partner .col-little p{
    padding-top: 20px;
 }
 .partner .col-little .btn{
    margin-top: 40px;
 }

 /* OPERATIONS SECTION */
.operations{
    padding: 100px 0;
}
.operations .col{
    width: calc(100%/3 - 80px / 3 );
    float: left;
}
.operations .col:nth-child(2n){
    margin: 0 40px;
}
.operations .row{
    margin-top: 60px;
}

.operations .col img{
    width: 100%;
}
.operations .col h3{
    font-size: 26px;
    
}
.operations .col p{
    padding-top: 40px;
}

/* TEAM SECTION */
.team{
    padding:100px;
}
.team-header h2{
    width: 55%;  
    padding-bottom: 30px;
}
/* SPACING DELLE COLONNE DEL MAIN */

.team-main{
    width: 100vw;
    height: 30vw;
    position: relative;
}
.team-mian .col-big{
    width: 40vw;
}
.team-main .col-left, .team-main .col-right{
    width: 30vw;
}
.team-main .square{
    height: 15vw;
    width: 15vw;
}
.team-main .col-left img ,.team-main .col-right img{
    width: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(100%);

}
/* colonna sinistra */
.team-main .col-left .square:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a2d39b;
}
.team-main .col-left .square:nth-child(2){
    position: absolute;
    top: 0;
    left: 15vw;
    background-color: #61082b;
}
.team-main .col-left .square:nth-child(3){
    position: absolute;
    top: 15vw;
    left: 0vw;
    background-color: #0093ce;
}
.team-main .col-left .square:nth-child(4){
    position: absolute;
    top: 15vw;
    left: 15vw;
    background-color: #ff1c1c;
}
/* colonna destra */
.team-main .col-right .square:nth-child(1){
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b4d0e7;
}
.team-main .col-right .square:nth-child(2){
    position: absolute;
    top: 0;
    right: 15vw;
    background-color: #d5001f;
}
.team-main .col-right .square:nth-child(3){
    position: absolute;
    top: 15vw;
    right: 0vw;
    background-color: #ffd830;
}
.team-main .col-right .square:nth-child(4){
    position: absolute;
    top: 15vw;
    right: 15vw;
    background-color: #0d2481;
}

/* colonna centrale */
.team-main .col-big{
    position: absolute;
    height: 30vw;
    width: 40vw;
    top: 0;
    left: 30vw;
    background-color: #f5f5f5;
    padding: 50px 50px;
}
.team-main .col-big img{
    width: 25%;
    padding-bottom: 30px;
}
.team-main .col-big hr{
    width: 5%;
    color: #dedee0 ;
}
.team-main .col-big p{
    text-align: left;
    padding: 40px 0;
}

/* TEAM FOOTER SECTION */
.team-footer{
    padding:150px 0;
    background-color: #b0cbe2;
    color: #61082b ;
}
.team-footer .col-big{
    width: 70%;
    float: left;
}
.team-footer .col-little{
    width: 30%;
    float: left;
}
.team-footer .col-big, .team-footer .col-little{
    display: inline-block
}
.team-footer h2{
    width: 70%;
}
.team-footer .btn{
    border:none;
    padding-left: 40px;
    padding-right: 40px;

}


/* FAQ SECTION */
.faq{
    padding: 40px 0;
}
.faq-main .col-big{
    width: 70%;
}
.faq-main .col-little{
    width: calc(30% - 8px);
    text-align: right;
}
.faq-main .col-little,.faq-main .col-big{
    display: inline-block;
}
.faq-main p, .faq-main i{
    font-size: 16px;
    font-weight: bold;
}

.faq-element{
    border-top: 1px solid #e5e5e6;
    padding: 30px 0;
}
.faq-main:last-child{
    border-top: 1px solid #e5e5e6;
    border-bottom: 1px solid #e5e5e6; 
}


/* footer */
    /* footer top */
    footer{
        margin-top: 40px;
        padding: 40px 0;
        background-color: black;
        color: white;
    }
    .footer-top{
        width: 100%;
        padding: 40px 0;
    } 
    footer .col{
        width: 20%;
        float: left;
    }
    footer h3{
        padding: 20px 0;
        text-transform: capitalize;
    }

    footer li{
        list-style: none;
        line-height: 30px;
        font-weight: bold;
    }
    /* footer hr */
    footer hr{
        width: 10%;
        color: #e5e5e6;
        text-align: right;
    }
    /* footer bottom */
    .footer-bottom{
        padding: 40px 0;
    }
    .footer-bottom .language{
        display: inline-block;
    }
    .footer-bottom .language::before{
        font-family: "Font Awesome 6 Free";
        content: "\f57d";
        font-weight: bold;
        margin-right: 4px;
    }
/* /footer */