/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */
body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: white;
    background-color: blue;
}

/* HEADER */
.col-header{
    width: 50;    
}