/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */
body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: white;
    background-color: blue;
}

/* HEADER */
header.container{
    width: 100%;
}
.col-header{
    width: 50%; 
    float: left;  
}
.col-header:last-of-type{
    float: right;  
    text-align: right;
}
.col-header ul, .col-header ul li,.col-header ul li a {
    display: inline-block;
}
