/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */
body{
    font-family: 'Open Sans', sans-serif;
}
.fa-solid.fa-arrow-down-long{
    font-size: 32px;
}

/* COMMON */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px ; 
    text-decoration: none;
}
.btn-blue{
    background-color: #1a58fa;
    color: white;
    border: transparent;
}

/* HEADER */
header{
    position: fixed;
    background-color: white;
    z-index: 10;
}
/* Omologare i padding in un secondo momento */
header.container{
    width: 100%;
    padding: 20px;
}
.col-header{
    width: 50%; 
    float: left;  
}
.col-header:last-of-type{
    float: right;  
    text-align: right;
    
}
.col-header ul, .col-header ul li,.col-header ul li a ,.logo-small{
    display: inline-block;
    vertical-align: middle;
    /* allineamento verticale header */
    text-decoration: none;
    color: black;
}
.col-header ul li{
    padding: 0 10px;
}
.logo-small{
    padding-right: 10px;
}

/* HERO */
.hero{
    background-color: #b1cee5;
    height: 840px;
    position: relative;
}
.hero.container{
    width: 1330px;
    margin: auto;
    
}
.col-hero-big,.col-hero-small{
    float: left;
}
.col-hero-big{
    width: 70%;
}
.col-hero-big img{
    width: 100%;
}
.col-hero-small{
    width: 30%;
}
.float-container.clearfix{
  position: absolute;
  bottom: -80px;
}
.hero-header{
    padding-top: 150px;
    font-size: 50px;
}
.hero .main-p{
    margin-bottom: 35px;
    margin-top: 0;
}
.hero p{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* PRICING SECTION */
.pricing{
    
}
.pricing .container{
    width: 1080px;
    margin: auto;
}
.pricing .header{
    padding-top: 200px;
    padding-bottom: 50px;
}
/* da fare spacing dei radio */
.pricing .clearfix{
    width: 100%;
}
.col-pricing{
    text-align: center;
    width: calc(100% /3 - 80px/3);
    min-height: 800px;
    border: 1px solid black;
    float: left;
}
.col-pricing.standard{
    margin: 0 40px;
}